/* General Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: black;
    color: seashell;
    overflow-x: hidden;
}

a {
    text-decoration: underline;
    color: seashell;
}

ul, li {
    list-style-type: none;
}

/* Header section styles */

header {
    padding: 10px 30px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 100%;
    border-bottom: 1px solid seashell;
    max-height: 70px;
    top: 0; /* Додано, для розташування вгорі */
    z-index: 2;
}

.logo-img {
    max-height: 50px;
}

.header-nav-items {
    display: flex;
    gap: 25px;
}


/* Hero section styles */

.hero {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    background-image: url("./img/img-mission-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px; /* Додано, щоб секція розташовувалась нижче .header */
    margin-bottom: 70px;
}



.hero-container {
    background-color: black;
    min-width: 100%;
}

/* Featured section styles */

.featured {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.featured-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.featured-item {
    flex: 1 1 300px;
}

.featured-item img {
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 10px;
}

/* Locations section styles */

.locations {
    background-image: url("./img/img-locations-background.jpg");
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locations-container {
    width: 100%;
}

.locations-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.locations-item {
    background-color: black;
    flex-basis: 300px;
}

.locations-item-title, .locations-item-text {
    line-height: 2;
}

/* Footer styles */

.footer {
    text-align: center;
    max-height: 200px;
}

.footer-bottom {
    text-align: left;
    margin-left: 20px;
    font-size: 12px;
}